SUBSYSTEM=="block", ACTION=="add|change", ENV{DEVTYPE}=="disk|partition", RUN+="/sbin/initqueue --settled --onetime --unique --name fll-%k /sbin/fll $env{DEVNAME}"
